In [184]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [185]:
df = pd.read_excel("Email Performance Analytics _Data.xlsx")

In [186]:
df.head()

,Midascontactid,Createdat,Emailpermissionstatus,Cont.Acq.Src,Email.Src.First,Segment,Segmentsecondary,Email.Acq.Dt,Email.Pref.Ch.Dt,Entry.Point.List,...,Eml.Click.First.Ts,Eml.Click.Last.Ts,Eml.Bounce.Last.Ts,Eml.Unsub.Last.Ts,Eml.Spam.Last.Ts,Email.Domain,Em.Pref.Status,Em.Pref.Dte,Invalid.Email.Dte,Em.Spamclplt.Dte
0,1020375449,2019-04-23,I,LIDUAS16,OOBWIN15,CON,NaN,2019-04-22,2019-08-24,|LIDUAS1608|OOBAND1407|OOBWIN1506|,...,2019-08-21,2019-08-21,NaT,NaT,NaT,gmail.com,I,2019-08-24,NaT,NaN
1,1042778096,2019-10-16,U,OOBWIN15,NaN,CON,NaN,NaT,2019-10-15,|OOBWIN1506|,...,NaT,NaT,NaT,NaT,NaT,hotmail.com,U,2019-10-15,NaT,NaN
2,1039527195,2019-07-29,I,NETMINNG,NETMINNG,CON,NaN,2019-07-29,2019-07-30,|HYBRIS1506|IGNONE20121024|SAPCRMSHIP120501|,...,NaT,NaT,NaT,NaT,NaT,hotmail.com,I,2019-07-30,NaT,NaN
3,1008356168,2019-11-29,I,EPI2,EPI2,CON,NaN,2015-11-04,2019-11-29,|HYBRIS1506|LENI2|OOBWIN1407|OOBWIN1506|RI6 PE...,...,2016-07-28,2016-08-06,NaT,2016-11-03,NaT,gmail.com,I,2019-11-29,NaT,NaN
4,1038164470,2019-04-30,U,OOBWIN15,NaN,CON,NaN,NaT,2019-04-29,|OOBWIN1506|,...,2019-05-26,2019-05-26,NaT,NaT,NaT,hotmail.com,U,2019-04-29,NaT,NaN

In [187]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 51 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Midascontactid               10000 non-null  int64
 1   Createdat                    10000 non-null  datetime64[ns]
 2   Emailpermissionstatus        10000 non-null  object
 3   Cont.Acq.Src                 9943 non-null   object
 4   Email.Src.First              6274 non-null   object
 5   Segment                      10000 non-null  object
 6   Segmentsecondary             87 non-null     object
 7   Email.Acq.Dt                 6274 non-null   datetime64[ns]
 8   Email.Pref.Ch.Dt             9943 non-null   datetime64[ns]
 9   Entry.Point.List             9943 non-null   object
 10  Cont.Acq.Src2                9943 non-null   object
 11  Cont.Acq.Dte                 9943 non-null   datetime64[ns]
 12  Prod.Buy.Last                8480 non-null   datetime64[ns]
 13  Prod.Buy.First               8480 non-null   datetime64[ns]
 14  Prod.Buy.Accessories         38 non-null     datetime64[ns]
 15  Prod.Buy.All.In.One.Desktop  260 non-null    datetime64[ns]
 16  Prod.Buy.Desktop             410 non-null    datetime64[ns]
 17  Prod.Buy.Idc                 523 non-null    datetime64[ns]
 18  Prod.Buy.Idpd                4599 non-null   datetime64[ns]
 19  Prod.Buy.Laptop              86 non-null     datetime64[ns]
 20  Prod.Buy.Servers             1 non-null      datetime64[ns]
 21  Prod.Buy.Software            0 non-null      float64
 22  Prod.Buy.Thnkc               86 non-null     datetime64[ns]
 23  Prod.Buy.Thnkp               864 non-null    datetime64[ns]
 24  Prod.Buy.Warranties          251 non-null    datetime64[ns]
 25  Prod.Buy.Workstation         1 non-null      datetime64[ns]
 26  Prod.Buy.Android.Tablet      2 non-null      datetime64[ns]
 27  Prod.Buy.Windows.Tablet      2 non-null      datetime64[ns]
 28  Prod.Buy.Convertible         6 non-null      datetime64[ns]
 29  Prod.Buy.Android.Os          2 non-null      datetime64[ns]
 30  Prod.Buy.Gaming              370 non-null    datetime64[ns]
 31  Prod.Buy.Windows.Os          27 non-null     datetime64[ns]
 32  Prod.Buy.Gaming.Related      203 non-null    datetime64[ns]
 33  Country                      10000 non-null  object
 34  Eml.Sent.Num                 9859 non-null   float64
 35  Eml.Sent.First.Ts            7879 non-null   datetime64[ns]
 36  Eml.Sent.Last.Ts             7879 non-null   datetime64[ns]
 37  Eml.Open.Num                 9859 non-null   float64
 38  Eml.Open.First.Ts            3783 non-null   datetime64[ns]
 39  Eml.Open.Last.Ts             3783 non-null   datetime64[ns]
 40  Eml.Click.Num                9859 non-null   float64
 41  Eml.Click.First.Ts           1455 non-null   datetime64[ns]
 42  Eml.Click.Last.Ts            1455 non-null   datetime64[ns]
 43  Eml.Bounce.Last.Ts           12 non-null     datetime64[ns]
 44  Eml.Unsub.Last.Ts            101 non-null    datetime64[ns]
 45  Eml.Spam.Last.Ts             24 non-null     datetime64[ns]
 46  Email.Domain                 10000 non-null  object
 47  Em.Pref.Status               10000 non-null  object
 48  Em.Pref.Dte                  10000 non-null  datetime64[ns]
 49  Invalid.Email.Dte            53 non-null     datetime64[ns]
 50  Em.Spamclplt.Dte             0 non-null      float64
dtypes: datetime64[ns](35), float64(5), int64(1), object(10)
memory usage: 3.9+ MB

In [188]:
df.isnull().sum()

Midascontactid                     0
Createdat                          0
Emailpermissionstatus              0
Cont.Acq.Src                      57
Email.Src.First                 3726
Segment                            0
Segmentsecondary                9913
Email.Acq.Dt                    3726
Email.Pref.Ch.Dt                  57
Entry.Point.List                  57
Cont.Acq.Src2                     57
Cont.Acq.Dte                      57
Prod.Buy.Last                   1520
Prod.Buy.First                  1520
Prod.Buy.Accessories            9962
Prod.Buy.All.In.One.Desktop     9740
Prod.Buy.Desktop                9590
Prod.Buy.Idc                    9477
Prod.Buy.Idpd                   5401
Prod.Buy.Laptop                 9914
Prod.Buy.Servers                9999
Prod.Buy.Software              10000
Prod.Buy.Thnkc                  9914
Prod.Buy.Thnkp                  9136
Prod.Buy.Warranties             9749
Prod.Buy.Workstation            9999
Prod.Buy.Android.Tablet         9998
Prod.Buy.Windows.Tablet         9998
Prod.Buy.Convertible            9994
Prod.Buy.Android.Os             9998
Prod.Buy.Gaming                 9630
Prod.Buy.Windows.Os             9973
Prod.Buy.Gaming.Related         9797
Country                            0
Eml.Sent.Num                     141
Eml.Sent.First.Ts               2121
Eml.Sent.Last.Ts                2121
Eml.Open.Num                     141
Eml.Open.First.Ts               6217
Eml.Open.Last.Ts                6217
Eml.Click.Num                    141
Eml.Click.First.Ts              8545
Eml.Click.Last.Ts               8545
Eml.Bounce.Last.Ts              9988
Eml.Unsub.Last.Ts               9899
Eml.Spam.Last.Ts                9976
Email.Domain                       0
Em.Pref.Status                     0
Em.Pref.Dte                        0
Invalid.Email.Dte               9947
Em.Spamclplt.Dte               10000
dtype: int64

In [189]:
df.columns

Index(['Midascontactid', 'Createdat', 'Emailpermissionstatus', 'Cont.Acq.Src',
       'Email.Src.First', 'Segment', 'Segmentsecondary', 'Email.Acq.Dt',
       'Email.Pref.Ch.Dt', 'Entry.Point.List', 'Cont.Acq.Src2', 'Cont.Acq.Dte',
       'Prod.Buy.Last', 'Prod.Buy.First', 'Prod.Buy.Accessories',
       'Prod.Buy.All.In.One.Desktop', 'Prod.Buy.Desktop', 'Prod.Buy.Idc',
       'Prod.Buy.Idpd', 'Prod.Buy.Laptop', 'Prod.Buy.Servers',
       'Prod.Buy.Software', 'Prod.Buy.Thnkc', 'Prod.Buy.Thnkp',
       'Prod.Buy.Warranties', 'Prod.Buy.Workstation',
       'Prod.Buy.Android.Tablet', 'Prod.Buy.Windows.Tablet',
       'Prod.Buy.Convertible', 'Prod.Buy.Android.Os', 'Prod.Buy.Gaming',
       'Prod.Buy.Windows.Os', 'Prod.Buy.Gaming.Related', 'Country',
       'Eml.Sent.Num', 'Eml.Sent.First.Ts', 'Eml.Sent.Last.Ts', 'Eml.Open.Num',
       'Eml.Open.First.Ts', 'Eml.Open.Last.Ts', 'Eml.Click.Num',
       'Eml.Click.First.Ts', 'Eml.Click.Last.Ts', 'Eml.Bounce.Last.Ts',
       'Eml.Unsub.Last.Ts', 'Eml.Spam.Last.Ts', 'Email.Domain',
       'Em.Pref.Status', 'Em.Pref.Dte', 'Invalid.Email.Dte',
       'Em.Spamclplt.Dte'],
      dtype='object')

In [190]:
opt_in.head()

,Midascontactid,Createdat,Emailpermissionstatus,Cont.Acq.Src,Email.Src.First,Segment,Segmentsecondary,Email.Acq.Dt,Email.Pref.Ch.Dt,Entry.Point.List,...,Eml.Click.First.Ts,Eml.Click.Last.Ts,Eml.Bounce.Last.Ts,Eml.Unsub.Last.Ts,Eml.Spam.Last.Ts,Email.Domain,Em.Pref.Status,Em.Pref.Dte,Invalid.Email.Dte,Em.Spamclplt.Dte
0,1020375449,2019-04-23,I,LIDUAS16,OOBWIN15,CON,NaN,2019-04-22,2019-08-24,|LIDUAS1608|OOBAND1407|OOBWIN1506|,...,2019-08-21,2019-08-21,NaT,NaT,NaT,gmail.com,I,2019-08-24,NaT,NaN
2,1039527195,2019-07-29,I,NETMINNG,NETMINNG,CON,NaN,2019-07-29,2019-07-30,|HYBRIS1506|IGNONE20121024|SAPCRMSHIP120501|,...,NaT,NaT,NaT,NaT,NaT,hotmail.com,I,2019-07-30,NaT,NaN
3,1008356168,2019-11-29,I,EPI2,EPI2,CON,NaN,2015-11-04,2019-11-29,|HYBRIS1506|LENI2|OOBWIN1407|OOBWIN1506|RI6 PE...,...,2016-07-28,2016-08-06,NaT,2016-11-03,NaT,gmail.com,I,2019-11-29,NaT,NaN
6,1044033221,2019-12-05,I,CROWDS19,CROWDS19,CON,NaN,2019-12-04,2020-01-06,|CROWDS1902|HYBORD1502|HYBRIS1506|SAPCRMSHIP12...,...,NaT,NaT,NaT,NaT,NaT,danmarkcom.com,I,2019-12-04,NaT,NaN
8,1042888581,2019-10-20,I,OOBWIN15,OOBWIN15,CON,NaN,2019-10-20,2019-10-20,|OOBWIN1506|,...,NaT,NaT,NaT,NaT,NaT,gmail.com,I,2019-10-20,NaT,NaN

In [191]:
excl_df=df.drop(['Prod.Buy.Accessories',
       'Prod.Buy.All.In.One.Desktop', 'Prod.Buy.Desktop', 'Prod.Buy.Idc',
       'Prod.Buy.Laptop', 'Prod.Buy.Servers',
       'Prod.Buy.Software', 'Prod.Buy.Thnkc', 'Prod.Buy.Thnkp',
       'Prod.Buy.Warranties', 'Prod.Buy.Workstation',
       'Prod.Buy.Android.Tablet', 'Prod.Buy.Windows.Tablet',
       'Prod.Buy.Convertible', 'Prod.Buy.Android.Os', 'Prod.Buy.Gaming',
       'Prod.Buy.Windows.Os', 'Prod.Buy.Gaming.Related','Eml.Bounce.Last.Ts',
       'Eml.Unsub.Last.Ts', 'Eml.Spam.Last.Ts','Invalid.Email.Dte',
       'Em.Spamclplt.Dte','Segmentsecondary','Eml.Click.First.Ts', 'Eml.Click.Last.Ts',],axis=1)

In [270]:
#excl_df.drop('Email.Pref.Ch.Dt',axis=1,inplace=True)

#excl_df.drop('Cont.Acq.Dte',axis=1,inplace=True)

#excl_df.drop('Prod.Buy.Last',axis=1,inplace=True)

#excl_df.drop('Prod.Buy.First',axis=1,inplace=True)

#excl_df.drop('Eml.Sent.First.Ts',axis=1,inplace=True)

#excl_df.drop('Eml.Sent.Last.Ts',axis=1,inplace=True)

#excl_df.drop('Email.Acq.Dt',axis=1,inplace=True)

#excl_df.drop('Prod.Buy.Idpd',axis=1,inplace=True)

#excl_df.drop('Eml.Open.First.Ts',axis=1,inplace=True)

excl_df.drop('Eml.Open.Last.Ts',axis=1,inplace=True)

In [273]:
excl_df.isnull().sum()

Midascontactid             0
Createdat                  0
Emailpermissionstatus      0
Cont.Acq.Src               0
Email.Src.First            0
Segment                    0
Entry.Point.List           0
Cont.Acq.Src2              0
Country                    0
Eml.Sent.Num               0
Eml.Open.Num               0
Eml.Click.Num              0
Email.Domain               0
Em.Pref.Status             0
Em.Pref.Dte                0
Email.Pref.Ch.Dt_Year      0
Email.Pref.Ch.Dt_month     0
Cont.Acq.Dte_year          0
Cont.Acq.Dte_month         0
Prod.Buy.Last_year         0
Prod.Buy.Last_month        0
Prod.Buy.First_year        0
Prod.Buy.First_month       0
Eml.Sent.First.Ts_year     0
Eml.Sent.First.Ts_month    0
Eml.Sent.Last.Ts_year      0
Eml.Sent.Last.Ts_month     0
Email.Acq.Dt_year          0
Email.Acq.Dt_month         0
Prod.Buy.Idpd_year         0
Prod.Buy.Idpd_month        0
Eml.Open.First.Ts_year     0
Eml.Open.First.Ts_month    0
Eml.Open.Last.Ts_year      0
Eml.Open.Last.Ts_month     0
dtype: int64

In [194]:
excl_df['Cont.Acq.Src'] = excl_df['Cont.Acq.Src'].replace(np.nan,'OOBWIN15')

In [195]:
import datetime

In [196]:
excl_df['Email.Pref.Ch.Dt_Year'] = pd.DatetimeIndex(df['Email.Pref.Ch.Dt']).year.fillna(2019)
excl_df['Email.Pref.Ch.Dt_month'] = pd.DatetimeIndex(df['Email.Pref.Ch.Dt']).month.fillna(12)

In [197]:
excl_df['Entry.Point.List'].value_counts()
excl_df['Entry.Point.List'] = excl_df['Entry.Point.List'].replace(np.nan,'|OOBWIN1506|')

In [198]:
excl_df['Cont.Acq.Src2'].value_counts()
excl_df['Cont.Acq.Src2'] = excl_df['Cont.Acq.Src2'].replace(np.nan,'OOBWIN15')

In [199]:
excl_df['Cont.Acq.Dte'].value_counts()
excl_df['Cont.Acq.Dte_year'] = pd.DatetimeIndex(df['Cont.Acq.Dte']).year.fillna(2019)
excl_df['Cont.Acq.Dte_month'] = pd.DatetimeIndex(df['Cont.Acq.Dte']).month.fillna(12)

In [200]:
excl_df['Cont.Acq.Dte_month'].value_counts().sort_values()

3.0      265
4.0      513
5.0      544
6.0      614
7.0      714
10.0     735
2.0      736
1.0      844
11.0     952
8.0     1191
9.0     1276
12.0    1616
Name: Cont.Acq.Dte_month, dtype: int64

In [201]:
excl_df['Eml.Click.Num'].value_counts().head()

0.0    8404
1.0     761
2.0     300
3.0     134
4.0      71
Name: Eml.Click.Num, dtype: int64

In [202]:
excl_df['Eml.Click.Num'].head()

0    1.0
1    0.0
2    0.0
3    2.0
4    1.0
Name: Eml.Click.Num, dtype: float64

In [203]:
excl_df['Eml.Click.Num']=excl_df['Eml.Click.Num'].fillna(0.0)

In [204]:
excl_df['Eml.Open.Num'].value_counts().head()

0.0    6076
1.0    1157
2.0     604
3.0     354
4.0     269
Name: Eml.Open.Num, dtype: int64

In [205]:
excl_df['Eml.Open.Num']=excl_df['Eml.Open.Num'].fillna(0.0)

In [206]:
excl_df['Eml.Sent.Num'].value_counts().head()

0.0    1980
2.0    1312
3.0     928
1.0     919
4.0     703
Name: Eml.Sent.Num, dtype: int64

In [207]:
excl_df['Eml.Sent.Num']=excl_df['Eml.Sent.Num'].fillna(0.0)

In [208]:
excl_df['Prod.Buy.Last'].head()

0   2019-08-24
1   2019-10-15
2   2019-07-30
3   2019-11-29
4   2019-04-29
Name: Prod.Buy.Last, dtype: datetime64[ns]

In [209]:
excl_df['Prod.Buy.Last_year'] = pd.DatetimeIndex(df['Prod.Buy.Last']).year.fillna(2019)
excl_df['Prod.Buy.Last_month'] = pd.DatetimeIndex(df['Prod.Buy.Last']).month.fillna(12)

In [210]:
excl_df['Prod.Buy.Last_month'].value_counts().sort_values()

3.0      231
4.0      438
5.0      439
6.0      514
7.0      599
10.0     660
2.0      702
11.0     744
1.0      818
8.0      837
9.0      989
12.0    3029
Name: Prod.Buy.Last_month, dtype: int64

In [216]:
excl_df['Prod.Buy.First_year'] = pd.DatetimeIndex(df['Prod.Buy.First']).year.fillna(2019)
excl_df['Prod.Buy.First_month'] = pd.DatetimeIndex(df['Prod.Buy.First']).month.fillna(12)

In [215]:
excl_df['Prod.Buy.First_month'].value_counts().sort_values()

3.0      239
4.0      452
5.0      457
6.0      523
7.0      619
10.0     647
2.0      688
1.0      791
11.0     832
8.0      840
9.0      968
12.0    1424
Name: Prod.Buy.First_month, dtype: int64

In [219]:
excl_df['Eml.Sent.First.Ts'].head()

0   2017-03-03
1   2019-11-25
2   2019-07-29
3   2019-11-29
4   2019-04-30
Name: Eml.Sent.First.Ts, dtype: datetime64[ns]

In [224]:
excl_df['Eml.Sent.First.Ts_year'] = pd.DatetimeIndex(df['Eml.Sent.First.Ts']).year.fillna(2019)
excl_df['Eml.Sent.First.Ts_month'] = pd.DatetimeIndex(df['Eml.Sent.First.Ts']).month.fillna(11)

In [222]:
excl_df['Eml.Sent.First.Ts_month'].value_counts().sort_values()

3.0       47
4.0      334
6.0      423
2.0      438
5.0      439
8.0      468
7.0      528
9.0      579
1.0      661
10.0     683
12.0    1452
11.0    1827
Name: Eml.Sent.First.Ts_month, dtype: int64

In [230]:

excl_df['Eml.Sent.Last.Ts_year'] = pd.DatetimeIndex(df['Eml.Sent.Last.Ts']).year.fillna(2020)
excl_df['Eml.Sent.Last.Ts_month'] = pd.DatetimeIndex(df['Eml.Sent.Last.Ts']).month.fillna(12)

In [229]:
excl_df['Eml.Sent.Last.Ts_month'].value_counts().sort_values()

4.0       24
8.0       39
6.0       42
10.0      51
3.0       56
7.0       61
9.0       67
5.0       77
11.0     291
1.0     1863
2.0     2465
12.0    2843
Name: Eml.Sent.Last.Ts_month, dtype: int64

In [236]:
excl_df['Email.Src.First'].value_counts().head()
excl_df['Email.Src.First'] = excl_df['Cont.Acq.Src2'].replace(np.nan,'OOBWIN15')

In [248]:
excl_df['Email.Acq.Dt'].head()

KeyError: 'Email.Acq.Dt'

In [243]:
excl_df['Email.Acq.Dt_year'] = pd.DatetimeIndex(df['Email.Acq.Dt']).year.fillna(2019)
excl_df['Email.Acq.Dt_month'] = pd.DatetimeIndex(df['Email.Acq.Dt']).month.fillna(9) # As most of them are in 8th n 9th month

In [242]:
excl_df['Email.Acq.Dt_month'].value_counts().sort_values()

3.0     172
4.0     297
5.0     317
6.0     394
2.0     406
7.0     428
10.0    482
1.0     523
11.0    603
8.0     830
12.0    897
9.0     925
Name: Email.Acq.Dt_month, dtype: int64

In [249]:
excl_df['Prod.Buy.Idpd'].value_counts()

2019-12-25    177
2019-09-04     99
2019-09-05     55
2019-12-26     41
2019-12-06     40
             ...
2020-03-10      1
2011-01-21      1
2018-07-24      1
2014-01-31      1
2017-01-10      1
Name: Prod.Buy.Idpd, Length: 394, dtype: int64

In [253]:
excl_df['Prod.Buy.Idpd_year'] = pd.DatetimeIndex(df['Prod.Buy.Idpd']).year.fillna(2019)
excl_df['Prod.Buy.Idpd_month'] = pd.DatetimeIndex(df['Prod.Buy.Idpd']).month.fillna(12)

In [252]:
excl_df['Prod.Buy.Idpd_month'].value_counts().sort_values()

3.0      86
4.0     187
5.0     210
6.0     261
7.0     333
2.0     349
1.0     401
10.0    415
11.0    421
8.0     445
9.0     667
12.0    824
Name: Prod.Buy.Idpd_month, dtype: int64

In [257]:
excl_df['Eml.Open.First.Ts'].value_counts()

2019-11-26    226
2019-12-24    126
2019-12-25     53
2019-11-27     49
2019-11-28     38
             ...
2017-03-13      1
2017-05-12      1
2016-04-10      1
2019-03-26      1
2015-05-02      1
Name: Eml.Open.First.Ts, Length: 461, dtype: int64

In [263]:
excl_df['Eml.Open.First.Ts_year'] = pd.DatetimeIndex(df['Eml.Open.First.Ts']).year.fillna(2019)
excl_df['Eml.Open.First.Ts_month'] = pd.DatetimeIndex(df['Eml.Open.First.Ts']).month.fillna(12) # 12th and 1st months has more

In [267]:
excl_df['Eml.Open.First.Ts_month'].value_counts().sort_values()

3.0       21
4.0      122
2.0      207
6.0      223
5.0      242
7.0      285
8.0      290
9.0      331
10.0     356
1.0      389
11.0     616
12.0    6918
Name: Eml.Open.First.Ts_month, dtype: int64

In [266]:
excl_df['Eml.Open.Last.Ts'].head()

0   2020-02-17
1          NaT
2   2020-02-17
3   2016-08-06
4   2019-05-26
Name: Eml.Open.Last.Ts, dtype: datetime64[ns]

In [272]:
excl_df['Eml.Open.Last.Ts_year'] = pd.DatetimeIndex(df['Eml.Open.Last.Ts']).year.fillna(2019)
excl_df['Eml.Open.Last.Ts_month'] = pd.DatetimeIndex(df['Eml.Open.Last.Ts']).month.fillna(12)

In [269]:
excl_df['Eml.Open.Last.Ts_year'].value_counts().sort_values()

2015.0       2
2014.0       2
2017.0       5
2016.0       5
2018.0      12
2020.0    1676
2019.0    2081
Name: Eml.Open.Last.Ts_year, dtype: int64